<section class="footer">
    <div class="container  footer-container">
    <div class="row">
    <div class="col-md-12">
    <h3 class="main-title">Entre em Contato</h3>
    </div>
    <div class="contact-box">
     <div class="redes-sociais">
       <p> <a href="https://www.facebook.com/vizenrh/" target="_blank" > <i class="fa-brands fa-facebook"></i> </a> </p>
       <p> <a href="https://bit.ly/3BvifqH" target="_blank" > <i class="fa-brands fa-whatsapp"></i> </a> </p>
       <p> <a href="https://www.instagram.com/juliana__benites/" target="_blank" > <i class="fa-brands fa-instagram"></i> </a> </p>
    </div><!--col-md-4--->
    </div>
     </div><!--row-->
     </div><!--container-->
      <div class="col-md-12">
       <p>Site desenvolvido por <a style="color:white; text-align:center;" href="https://instagram.com/agenciacodebybenites" target="-blank"> @agenciacodebybenites </a> &copy; 2022 </p>
       </div>
</section>